{% extends 'login/layout.html' %}

{% block body %}
<div class="container-fluid" style="width: 50%;">
        <h1>Create Account</h1>
            <form action="{% url 'login:create_account' %}" method="post">
                {% csrf_token %}
            <div class="col align-self-center">
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Create Account">
                            <a style="text-align: right; margin-left: 50px; font-size: 14px;" href="{% url 'login:index' %}">Already a member?</a>
                        </div>
            </div>    
            </form>
</div>
                <p style="color:red; font-size: 12px;">{{ text }}</p>
{% endblock %}